@{
    ViewBag.Title = "catagory";
}


<section class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h2>categories</h2>
            <ul class="sub-nav">
                <li><a href="#."><i class="fa fa-home"></i></a> / </li>
                <li><a href="#.">Categories</a></li>
            </ul>
        </div>
    </div>
</section>

<!--======= FEATURED CATEGORIES =========-->
<section class="featured by-cate">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h3>browse by categories</h3>
        </div>
        <div class="row">

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/3.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> LAYS </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/09.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> DRINKS </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/opj.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> OREO BISCUIT </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/76.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Milk Way chocolate </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/87.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> FRUITS VITAL </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/jk.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                       @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Dark fantasy biscuit </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/bb.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Chips </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/88.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Fresh juices </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/2.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle">CHIPS</div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/897.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Sniker chocolates </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/6.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Pringles </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/oor.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> BISCUITS </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
