@{
    ViewBag.Title = "dairy";
}

<section class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h2>Spices</h2>
            <ul class="sub-nav">
                <li><a href="#."><i class="fa fa-home"></i></a> / </li>
                <li><a href="#.">Categories</a></li>
            </ul>
        </div>
    </div>
</section>

<!--======= FEATURED CATEGORIES =========-->
<section class="featured by-cate">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h3>browse by categories</h3>
        </div>
        <div class="row">

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/milk.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Milk </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/butter.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Butter </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/cheese.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Cheese </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/cheeder.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Cheeder Cheese </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/eggs.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Eggs </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/yougurt.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Yogurt </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/margarine.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Margarine </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/8.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Ice Cream </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/bread.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Butter</div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/crem.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Milk cream </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/skim.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle">Skimmed Milk Powder  </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/moz.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Morzrella Cheese </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

