@{
    ViewBag.Title = "err";
}


<section class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h2>404</h2>
            <ul class="sub-nav">
                <li><a href="#."><i class="fa fa-home"></i></a> / </li>
                <li><a href="#.">404</a></li>
            </ul>
        </div>
    </div>
</section>

<!--======= 404 =========-->
<section class="error-page">
    <div class="container">

        <!--======= PAGE NOT FOUND =========-->
        <div class="not-found">
            <i class="fa fa-warning"></i> <span>
                error<br>
                404
            </span>
        </div>
        <div class="warng">
            <p>
                OOPS!Looks like the page you are looking for isn't there.You may have mistyped
                the content or the page may have moved.
            </p>

            <!--=======  SEARCH =========-->
            <div class="search">
                <div class="form-group">
                    <input id="serch" type="search" class="input" placeholder="Search..">
                    <button class="sea-icon"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

