@{
    ViewBag.Title = "fruits";
}

<section class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h2>Fruits and vegetables</h2>
            <ul class="sub-nav">
                <li><a href="../../home/index"><i class="fa fa-home"></i></a> / </li>
                <li><a href="../../home/fruits">Fruits and vegetables/a></li>
            </ul>
        </div>
    </div>
</section>

<!--======= FEATURED CATEGORIES =========-->
<section class="featured by-cate">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h3>browse by categories</h3>
        </div>
        <div class="row">

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/00.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Apparel </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/11.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> automotive </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/22.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> baby & toddler </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/54.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> beverages </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/78.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> coupon codes </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/8876.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="#.">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> electronics </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/767.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> entertainment </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/875.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> flowers & gifts </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/34.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> games</div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/cc.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> health care </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/ef.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> household </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/66.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> restaurants </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


