@{
    ViewBag.Title = "index";
}

<!--======= BANNER =========-->
<div id="banner">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/Content/images/1.jpg" alt="">

                <!--======= BANNER INNER =========-->

                <div class="banner-up">
                    <div class="container">
                        <div class="slide-products">
                            <div class="col-xs-6 no-padding">

                                <!--======= BANNER TEXT =========-->
                         <!--       <div class="text-slide">
                                    <p>Happy Days are yours and mine Happy Days. Didn't need no welfare states.</p>
                                    <span class="slider-price">$49.00</span>
                                </div>-->
                            </div>

                            <!--======= BANNER IMAGE =========-->
                          <!--  <div class="col-xs-6 no-padding">
                                <div class="img-slide"> <img class="img-responsive" src="~/Content/images/slide-2.jpg" alt=""> </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/Content/images/slide-2.jpg" alt="">

                <!--======= BANNER INNER =========-->

                <div class="banner-up">
                    <div class="container">
                        <div class="slide-products">

                            <!--======= BANNER IMAGE =========-->
                       <!--     <div class="col-xs-6 no-padding">
                                <div class="img-slide"> <img class="img-responsive" src="~/Content/images/slide-item-1.jpg" alt=""> </div>
                            </div>
                            <div class="col-xs-6 no-padding">-->

                                <!--======= BANNER TEXT =========-->
                            @*!--    <div class="text-slide">
                                    <h1>Today’s big deals</h1>
                                    <p>Happy Days are yours and mine Happy Days. Didn't need no welfare states.</p>
                                    <span class="slider-price">$49.00</span>
                                </div>
                            -->*@
                           
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--======= BANNER =========-->
<section class="great-deals">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">

        </div>
        <div class="coupon">
            <ul class="row">

                <!--======= COUPEN DEALS =========-->
                <!--======= FEATURED CATEGORIES =========-->
                <section class="featured">
                    <div class="container">
                        <!--======= TITTLE =========-->
                        <div class="tittle">
                            <h3>featured categories</h3>
                        </div>
                        <div class="fea-cate">

                            <!--======= CATEGORIES 1 =========-->
                            <div class="cate-in">
                                <div class="cate">
                                    <img src="~/Content/images/0.jpg" alt="">
                                    <div class="cate-over">
                                        <div class="after-over animated flipInY">

                                            <a href="#.">SHOP NOW</a>
                                        </div>
                                    </div>
                                    <!--======= TITTLE =========-->
                                    <div class="cate-tittle"> Vegetable and fruits </div>
                                </div>
                            </div>
                            <!--======= CATEGORIES 1 =========-->

                            <div class="cate-in">
                                <div class="cate">
                                    <img src="~/Content/images/epo.jpg" alt="">
                                    <div class="cate-over">
                                        <div class="after-over animated flipInY">

                                            <a href="#.">SHOP NOW</a>
                                        </div>
                                    </div>
                                    <!--======= TITTLE =========-->
                                    <div class="cate-tittle"> Spices </div>
                                </div>
                            </div>

                            <!--======= CATEGORIES 1 =========-->
                            <div class="cate-in">
                                <div class="cate">
                                    <img src="~/Content/images/879.jpg" alt="">
                                    <div class="cate-over">
                                        <div class="after-over animated flipInY">

                                            <a href="#.">SHOP NOW</a>
                                        </div>
                                    </div>
                                    <!--======= TITTLE =========-->
                                    <div class="cate-tittle"> Meat </div>
                                </div>
                            </div>

                            <!--======= CATEGORIES 1 =========-->
                            <div class="cate-in">
                                <div class="cate">
                                    <img src="~/Content/images/tt.jpg" alt="">
                                    <div class="cate-over">
                                        <div class="after-over animated flipInY">

                                            <a href="#.">SHOP NOW</a>
                                        </div>
                                    </div>
                                    <!--======= TITTLE =========-->
                                    <div class="cate-tittle"> Dairy </div>
                                </div>
                            </div>

                            <!--======= CATEGORIES 1 =========-->
                            <div class="cate-in">
                                <div class="cate">
                                    <img src="~/Content/images/2.jpg" alt="">
                                    <div class="cate-over">
                                        <div class="after-over animated flipInY">

                                            <a href="#.">SHOP NOW</a>
                                        </div>
                                    </div>
                                    <!--======= TITTLE =========-->
                                    <div class="cate-tittle"> Drinks and Snacks </div>
                                </div>
                            </div>
                </section>

                @*<!--======= BLOG =========-->
                <section class="blog">
                    <div class="container">
                        <!--======= TITTLE =========-->
                        <div class="tittle">
                            <h3>recent from our blog</h3>
                        </div>

                        <!--======= BLOG ROW =========-->
                        <ul class="row">

                            <!--======= BLOG 1 =========-->
                            <li class="col-sm-4">
                                <div class="b-img">
                                    <img class="img-responsive" src="~/Content/images/b-img-1.jpg" alt="">
                                    <div class="b-over animated pulse"> <a href="#."><i class="fa fa-search"></i> </a> </div>
                                </div>
                                <div class="b-details">
                                    <h6><a href="#.">world today takes everything</a></h6>
                                    <ul class="tag-info">
                                        <li> <i class="fa fa-camera"></i> Photography <span> / </span> </li>
                                        <li> <i class="fa fa-user"></i> By Admin <span> / </span></li>
                                        <li><i class="fa fa-comments"></i> 5 Comments </li>
                                    </ul>
                                    <p>
                                        Can you tell me how to get how to get to Sesame Street. Flying away on a wing and a prayer.It be
                                        Believe it or not its just me.
                                    </p>
                                </div>
                            </li>

                            <!--======= BLOG 2 =========-->
                            <li class="col-sm-4">
                                <div class="b-img">
                                    <img class="img-responsive" src="~/Content/images/b-img-2.jpg" alt="">
                                    <div class="b-over animated pulse"> <a href="#."><i class="fa fa-search"></i> </a> </div>
                                </div>
                                <div class="b-details">
                                    <h6><a href="#.">It's time to raise the curtain</a></h6>
                                    <ul class="tag-info">
                                        <li> <i class="fa fa-camera"></i> Photography <span> / </span> </li>
                                        <li> <i class="fa fa-user"></i> By Admin <span> / </span></li>
                                        <li><i class="fa fa-comments"></i> 5 Comments </li>
                                    </ul>
                                    <p>
                                        Can you tell me how to get how to get to Sesame Street. Flying away on a wing and a prayer.It be
                                        Believe it or not its just me.
                                    </p>
                                </div>
                            </li>

                            <!--======= BLOG 3 =========-->
                            <li class="col-sm-4">
                                <div class="b-img">
                                    <img class="img-responsive" src="~/Content/images/b-img-3.jpg" alt="">
                                    <div class="b-over animated pulse"> <a href="#."><i class="fa fa-search"></i> </a> </div>
                                </div>
                                <div class="b-details">
                                    <h6><a href="#."> A man is born he's a man of means</a></h6>
                                    <ul class="tag-info">
                                        <li> <i class="fa fa-camera"></i> Photography <span> / </span> </li>
                                        <li> <i class="fa fa-user"></i> By Admin <span> / </span></li>
                                        <li><i class="fa fa-comments"></i> 5 Comments </li>
                                    </ul>
                                    <p>
                                        Can you tell me how to get how to get to Sesame Street. Flying away on a wing and a prayer.It be
                                        Believe it or not its just me.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <!--======= BLOG =========-->
        </div>
</section>*@

