@{
    ViewBag.Title = "meat";
}

<section class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h2>Meat</h2>
            <ul class="sub-nav">
                <li><a href="index.html"><i class="fa fa-home"></i></a> / </li>

            </ul>
        </div>
    </div>
</section>

<!--======= FEATURED CATEGORIES =========-->
<section class="featured by-cate">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h3>browse by categories</h3>
        </div>
        <div class="row">

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/65.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> MUTTON </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/090.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> BEEF </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/bar.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Barbecue  </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/887.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> beverages </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/salmon.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Salmon fish </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/tuna.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Tuna Fish </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/chap.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Steaks </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/meat 1.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> flowers & gifts </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/lamb.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Lamb meat</div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/prawns.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Prawns </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/trout.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Trout Fish </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/mince.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Minced beef </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


