@{
    ViewBag.Title = "spices";
}

 <!--======= BANNER =========-->
<section class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h2>Spices</h2>
            <ul class="sub-nav">
                <li><a href="#."><i class="fa fa-home"></i></a> / </li>
                <li><a href="#.">Categories</a></li>
            </ul>
        </div>
    </div>
</section>

<!--======= FEATURED CATEGORIES =========-->
<section class="featured by-cate">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h3>browse by categories</h3>
        </div>
        <div class="row">

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/67.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Apparel </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/8787.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> automotive </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/pasta1.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> baby & toddler </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/spaa.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> beverages </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/pasta.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> coupon codes </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/f-img-6.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> electronics </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/spaa.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Spagetti </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/f-img-8.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> flowers & gifts </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/f-img-9.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> games</div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/f-img-10.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> health care </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= CATEGORIES ROW=========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/pasta1.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> household </div>
                            </div>
                        </div>
                    </li>

                    <!--======= CATEGORIES =========-->
                    <li class="col-sm-6">
                        <div class="cate-in">
                            <div class="cate">
                                <img src="~/Content/images/pasta.jpg" alt="">
                                <div class="cate-over">
                                    <div class="after-over animated flipInY">

                                        @*<a href="../../home/cart">SHOP NOW</a>*@
                                    </div>
                                </div>
                                <!--======= TITTLE =========-->
                                <div class="cate-tittle"> Pasta </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


